<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="background-for-form">
</div>

<br>

<div class="form-styles">
    <form class="form-inline" role="form">  
    <div class="form-group">
      <%= f.label :Your_Neighborhood? %><br>
      <%= f.text_field :location1, placeholder: 'Tribeca'  %>
    </div>
    <div class="form-group">
      <%= f.label :Their_Neighborhood? %><br>
      <%= f.text_field :location2, placeholder: 'Upper West Side'  %>
    </div>
    <div class="form-group">
      <%= f.label :What_Type_of_Place? %><br>
      <%= f.text_field :place %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Let's Go!", :class => 'btn btn-lg' %>
    </div>
  </form>
</div>

<% end %>