<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="background-for-form">
</div>

<br>

<div class="form-styles">
    <form class="form-inline" role="form">  
    <div class="form-group">
      <%= f.label :Your_Neighborhood? %><br>
      <%= f.select :location1, Trip::LOCATION1, prompt: "Choose Your Neighborhood" %>
    </div>
    <div class="form-group">
      <%= f.label :Their_Neighborhood? %><br>
      <%= f.select :location2, Trip::LOCATION2, prompt: "Choose Their Neighborhood" %>
    </div>
    <div class="form-group">
      <%= f.label :What_Type_of_Place? %><br>
      <%= f.select :place, Trip::PLACE, prompt: "Choose a type of location" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Let's Go!", :class => 'btn btn-lg' %>
    </div>
  </form>
</div>

<% end %>