<article>
  <header>
    <h1 style="text-align: center;"> Listing All Meetups  </h1> 
  </header>
</article>

<table class="table table-bordered" id="users" style = "width: 85%; margin-top: 50px;" align="center">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created On</th>
      <th>My Neighborhood</th>
      <th>Their Neighborhood</th>
      <th>Type Of Place</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.id %></td>
        <td><%= trip.created_at %></td>
        <td><%= trip.location1 %></td>
        <td><%= trip.location2 %></td>
        <td><%= trip.place %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Meetup', new_trip_path %>


