<article>
  <header>
    <h1 style="text-align: center;"> My Meetup </h1> 
  </header>
</article>


<table class="table table-bordered" id="users" style = "width: 85%; margin-top: 50px;" align="center">

  <thead>
    <tr>
      <th>My Neighborhood</th>
      <th>Their Neighborhood</th>
      <th>Type Of Place</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @trip.location1 %></td>
        <td><%= @trip.location2 %></td>
        <td><%= @trip.place %></td>
      </tr>
  </tbody>

</table>

<%= link_to 'New Meetup', new_trip_path %>
<%= link_to 'Edit Meetup', edit_trip_path(@trip) %> 
<%= link_to 'Back', trips_path %>

